
html{
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background-color: rgb(90, 90 ,90);
    color: white;
    padding: 15%;
    padding-top: 5%;
    margin: 0;
    font-size: 15pt;
}
.blog-container {
    background-color: rgb(70, 70, 70);
    padding: 5%;
}

.figcaption {
    color: lightgray;
    font-size: 0.7vw;
}

.blog-title {
    margin-bottom: 10vw;
}

.section {
    margin-bottom: 8vw;
}
.sections .section:not(.section3) {
    margin-bottom: 5vw;
}

